body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/hamburguesitas.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--font-family);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
