.additionalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
}
.additionalContainer h3 {
  padding: 10px 0px 10px 10px;
  font-size: 22px;
}

.additionalOptions {
  margin-left: 10px;
}
.additionalOptions > input[type="radio"],
.additionalOptions > input[type="checkbox"] {
  border: 0px;
  width: 15px;
  height: 15px;
}

.additionalOptions > label {
  padding: 0px 5px 0px 5px;
  font-size: 19px;
}

.btnAdditional {
  color: var(--color-white);
  background-color: var(--color-orange);
  font-family: var(--font-family);
  cursor: pointer;
  border-radius: 25px;
  border: none;
  height: 50px;
  width: 140px;
  font-size: 25px;
  margin: 25px 20px 0px 30px;
}

.btnAdditional:hover {
  background-color: var(--color-black);
}

/* ipad horizontal */
@media screen and (min-height: 760px) {
  @media screen and (min-width: 1024px) {
    .additionalContainer {
      margin-left: 15px;
    }
    .additionalContainer h3 {
      padding: 10px 0px 10px 15px;
      font-size: 23px;
    }
    .additionalOptions {
      margin-left: 10px;
    }
    .additionalOptions > input[type="radio"],
    .additionalOptions > input[type="checkbox"] {
      border: 0px;
      width: 15px;
      height: 15px;
    }

    .additionalOptions > label {
      padding: 0px 8px 0px 5px;
      font-size: 19px;
    }

    .btnAdditional {
      border-radius: 25px;
      height: 50px;
      width: 140px;
      font-size: 25px;
      margin: 30px 20px 0px 35px;
    }
  }
}

/* iPhone 6/7/8 horizontal */
@media screen and (max-height: 375px) {
  @media screen and (max-width: 667px) {
    .additionalContainer {
      margin-left: 15px;
    }
    .additionalContainer h3 {
      padding: 5px 0px 5px 8px;
      font-size: 18px;
    }
    .additionalOptions {
      margin-left: 8px;
    }
    .additionalOptions > input[type="radio"],
    .additionalOptions > input[type="checkbox"] {
      border: 0px;
      width: 14px;
      height: 14px;
    }

    .additionalOptions > label {
      padding: 0px 2px 0px 2px;
      font-size: 16px;
    }

    .btnAdditional {
      border-radius: 25px;
      height: 40px;
      width: 110px;
      font-size: 20px;
      margin: 30px 20px 0px 35px;
    }
  }
}
