.productsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.productsMenu {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-grey);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 30px;
  width: 90%;
}
.productsMenu:hover {
  background-color: var(--color-yellow);
}

.productsMenu img {
  height: 48px;
  width: 45px;
  padding: 5px 10px 0px 20px;
}
.productsMenu h3 {
  padding: 15px 20px 0px 20px;
  font-size: 20px;
  font-family: var(--font-family);
  margin: 0px;
}

/* ipad horizontal */
@media screen and (min-height: 760px) {
  @media screen and (min-width: 1024px) {
    .productsContainer {
      width: 100%;
    }
    .productsMenu {
      border-radius: 25px;
      margin-top: 20px;
      width: 90%;
    }
    .productsMenu img {
      height: 55px;
      width: 50px;
      padding: 0px 10px 0px 20px;
    }
    .productsMenu h3 {
      padding: 15px 20px 0px 20px;
      font-size: 20px;
      margin: 0px;
    }
  }
}

/* iPhone 6/7/8 horizontal */
@media screen and (max-height: 375px) {
  @media screen and (max-width: 667px) {
    .productsContainer {
      width: 100%;
    }
    .productsMenu {
      border-radius: 25px;
      margin-top: 15px;
      width: 95%;
    }
    .productsMenu img {
      height: 35px;
      width: 30px;
      padding: 0px 10px 0px 20px;
    }
    .productsMenu h3 {
      padding: 8px 10px 0px 10px;
      font-size: 15px;
      margin: 0px;
    }
  }
}
